<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/cara2.jpg" class="d-block w-100 image-carousel" alt="view train">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cara22.jpg" class="d-block w-100 image-carousel" alt="luxury train">
      </div>
      <div class="carousel-item">
        <img src="../../assets/cara3.jpg" class="d-block w-100 image-carousel " alt="rail neer">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls"role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
<div class="container"><br>
    <h3><i class="fas fa-users"></i>About Us</h3>
    <hr>
    <p>Bharat Railway Corporation Ltd. (BRC) is a “Mini Ratna (Category-I)” Central Public Sector
        Enterprise under Ministry of Railways, Government of India. BRC was incorporated on 10th December, 2019 as
        an extended arm of the Indian Railways to upgrade, professionalize and manage the catering and hospitality
        services at stations, on trains and other locations and to promote domestic and international tourism through
        development of free wi-fi, special tour packages, information & commercial publicity and global reservation
        systems. The authorized capital of the company is <i class="fas fa-rupee-sign"></i>50 crores and paid up capital is <i class="fas fa-rupee-sign"></i>20 crores, fully subscribed
        by Ministry of Railways, Government of India. It’s registered and Corporate Office is situated at New Delhi.
    </p>

    <hr>
    <h3>The core activities of the Company are detailed below:</h3><br>
    <ul>
        <li>Catering & Hospitality</li>
        <li>Internet Ticketing</li>
        <li>Travel & Tourism</li>
        <li>Packaged Drinking Water</li>
    </ul>

    <hr>

    <h3>At present, the Company operates through:</h3><br>
    <ul>
        <li>Five Zonal Offices at New Delhi, Mumbai, Kolkata, Chennai & Secundrabad</li>
        <li>Five base kitchens located at New Delhi, Howrah, Ahmedabad, Patna, Mumbai Central</li>
        <li>One Internet Ticketing Office at New Delhi</li>
    </ul>

</div>