
<div class="container list-group selector-for-some-widget"><br>
    <!-- <div class="ratio ratio-4x3">
        <iframe src="https://youtu.be/fdZi0-AJ-_c" title="YouTube video" allowfullscreen></iframe>
      </div>
<br><br>     -->
    <h3><i class="fas fa-address-book"></i>Contact Us</h3>
    <p><i class="fas fa-phone-square-alt"></i>Customer care numbers: 0755-6610661, 0755-4090600 (Language: Hindi and English)</p>
    <br><br>
    <ul class="ul-c">
        <li>For Railway tickets booked through BRC website</li>
        <li>General Information</li>
        <li><i class="fas fa-envelope-square"></i>I-tickets/e-tickets : care@brc.co.in</li>
        <li><i class="fas fa-envelope-square"></i>For Cancellation E-tickets : etickets@brc.co.in</li>
        <li><i class="fas fa-envelope-square"></i>For Mumbai Suburban Season tickets : seasontickets@brc.co.in</li>  
    </ul>

    <br><br>

    <p>Registered Office / Corporate Office :<br>

        Bharat Railway Corporation Ltd.,
        B-148, 11th Floor, Statesman House,
        Barakhamba Road, New Delhi 110001.</p>
</div>